





  /* start similar divice */
  /* .similar-divice {
    padding: 60px 0;
    margin: 60px 0;
} */


.similar-divice .show-more a:hover{
    color: #000;
}
  .similar-divice .box{
    /* text-align: center; */
    /*background-color: #f5f7f9;
    */background-image: linear-gradient(169deg  , #fff ,#f5f7f9 );
    overflow: hidden;
    box-shadow: 0 5px 20px #fff4f4;
    position: relative;
    height: 470px;
    position: relative;
    margin-bottom: 50px;

}


.similar-divice .box .image a img{
width:100%;
min-height: 200px;
margin-bottom: 30px;
transition: all 0.7s ease-in-out;
-webkit-transition: all 0.7s ease-in-out;
    -moz-transition: all 0.7s ease-in-out;
    -ms-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
}

.similar-divice .box:hover .image a img {
    transform: scale(1.06);
    -webkit-transform: scale(1.06);
    -moz-transform: scale(1.06);
    -ms-transform: scale(1.06);
    -o-transform: scale(1.06);
   }
.similar-divice .box .content{
    padding: 10px;
    margin-bottom: 10px;
}
.similar-divice .box .content a span{
  color: #000;
  display: block;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 16px;
}
.similar-divice .box .content a h4{
    color: #007bff;
    height: 65px;
    transition: all 0.6s ease-in-out;
    -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    -ms-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    line-height: 31px;
    font-size: 25px;
    overflow: hidden;

}
.similar-divice .box .content a h4:hover{
    color: #000;
}

.similar-divice .box .content .btn .btn-website{
    background-color: #4481b7;
    border: 1px solid #4481b7;
    padding: 6px 20px;
    color: #fff;
    border-radius: 30px;
    -webkit-border-radius: 8px  ;
    -moz-border-radius: 8px  ;
    -ms-border-radius: 8px  ;
    -o-border-radius: 8px  ;
    transition: all 0.7s ease-in-out;
    -webkit-transition: all 0.7s ease-in-out;
    -moz-transition: all 0.7s ease-in-out;
    -ms-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
    display: flex;
    gap: 7px;
    align-items: center;
    justify-content: center;
    border-radius: 8px  ;
}
.similar-divice .box .content .btn .btn-website:hover{
    background-color: #0069d9;

}

.similar-divice .box .content  p{
    color: #000;
    /* display: flex; */
    /* gap: 5px; */
    /* justify-content: center; */
    /* align-items: center; */
    font-size: 15px;
    line-height: 34px;
    height: 65px;
    overflow: hidden;
}
.similar-divice .box .content a p span{
    font-weight: normal;
    margin-bottom: 0;

}

@media(max-width:991px){
    .products-sec .box,
    .similar-divice .box{
        height: auto ;
    }
}



.similar-divice .owl-prev {
    font-size: 20px !important;
    position: absolute;
    top: 200px;
    right: -12px;
    color: #717171 !important;

}

.similar-divice .owl-prev:hover {

    color: #fff !important;

}

.similar-divice .owl-next {
    font-size: 20px !important;
    position: absolute;
    top: 200px;
    left: -12px;
    color: #717171 !important;

}
@media(max-width:790px){
    .similar-divice .owl-prev {

        right: -5px;

    }

    .similar-divice .owl-next {

        left: -5px;

    }
}

@media(min-width:791px) and (max-width:1000px){
    .similar-divice .owl-prev {

        right: -8px;

    }

    .similar-divice .owl-next {

        left: -8px;

    }
}

.similar-divice .owl-next:hover {
    color: #fff !important;

}

.similar-divice .owl-carousel .owl-nav button.owl-next,
.similar-divice .owl-carousel .owl-nav button.owl-prev {
    background-color: #ffffff;
    padding: 0px 10px !important;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border: 1px solid #efefef;
}

.similar-divice .owl-carousel .owl-nav button.owl-next:hover,
.similar-divice .owl-carousel .owl-nav button.owl-prev:hover {
    background-color: #007bff;
    padding: 0px 10px !important;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border: 1px solid #007bff;
}

@media(max-width:767px){
    .similar-divice .owl-prev {
        font-size: 20px !important;
        position: absolute;
        top: 100%;
        right: 40%;
        color: #717171 !important;

    }


    .similar-divice .owl-next {
        font-size: 20px !important;
        position: absolute;
        top: 100%;
        left: 40%;
        color: #717171 !important;

    }
}





/* /////////////////////////////////////////////////////////// */



.logo {
    background-color: #e9e9e9;
    height: 2.4rem;
    width: 10rem;
    border-radius: 4px;
  }

  .avatar-wrapper {
    display: flex;
    align-items: center;
    cursor: pointer;

  }
  .avatar-wrapper .avatar-dropdown-arrow {
    transition: opacity 0.1s linear, transform 0.15s linear;
  }
  .avatar-wrapper .avatar-dropdown-arrow.active {
    transform: rotate(180deg);
  }
  .avatar-wrapper:hover .avatar-dropdown-arrow {
    opacity: 0.2;
  }

  .avatar-photo {
    border-radius: 50%;

}

  .dropdown-wrapper {
    position: absolute;
    top: 75%;
    transform: scale(0.8);
    transform-origin: top;
    /* transform-origin: right; */
    right: 200px;
    z-index: 4;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    margin-top: 0.5rem;
    padding: 1.5rem;
    background-color: #fff;
    box-shadow: 0 0 0 1px rgba(50, 50, 93, 0.08), 0 2px 4px 0 rgba(50, 50, 93, 0.05), 0 4px 8px 0 rgba(136, 152, 170, 0.08);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    opacity: 0;
    visibility: hidden;
  }
  .dropdown-wrapper.active {
    top: 100%;
    transform: scale(1);
    opacity: 1;
    visibility: visible;
  }

  .dropdown-profile-details {
    display: flex;
    flex-direction: column;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #eaeaea;
    /* justify-content: center; */
    /* margin: auto; */
    text-align: center;
  }
  .dropdown-profile-details img{
    margin: auto;
    height: 80px;
    width: 80px;
  }
  .dropdown-profile-details--name {
    /* font-size: 1.75rem; */
    margin-bottom: 0;
    font-weight: 600;
  }

  .dropdown-profile-details--email {
    /* font-size: 1.2rem; */
    color: #6f6f6f;
  }

  .dropdown-links {
    display: flex;
    flex-direction: column;
    padding-top: 1.5rem;
  }
  .dropdown-links a {
    color: #525f7f;
    text-decoration: none;
    padding-bottom: 1rem;
    transition: all 0.1s linear;
  }
  .dropdown-links a:hover {
    color: #E44D42;
  }
  .dropdown-links a:last-of-type {
    padding-bottom: 0;
  }


  .emp-profile{
    background: -webkit-linear-gradient(left, #3931af, #00c6ff) ;
}
.emp-profile{
    padding: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
    background: #fff;
}
.profile-img{
    text-align: center;
}
.profile-img img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 1px solid #ccc;
}
.profile-img .file {
   position: relative;
    /* overflow: hidden; */
    top: -49px;
    right: -140px;
    /* text-align: right; */
    width: 40px;
    border: none;
    border-radius: 0;
    font-size: 15px;
    cursor: pointer;

}

.profile-img .file i{
    color: #ffffff;
    font-size: 18px;
    cursor: pointer !important;
    position: relative;
    bottom: 0;
    /* right: -18px; */
    /* background-color: #000; */
    width: 40px;
    background-color: #ccc;
    height: 40px;
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
}
.profile-img .file input {
    position: absolute;
    cursor: pointer;
    opacity: 0;
    /* right: -19px; */
    top: 0;
    width: 42px;
    height: 40px;
    border-radius: 50% !important;
    z-index: 1;
}


.profile-head h5{
    color: #333;
    margin-bottom: 80px;
}
.profile-head h6{
    color: #0062cc;
}
.profile-edit-btn{
    border: none;
    border-radius: 1.5rem;
    width: 70%;
    padding: 2%;
    font-weight: 600;
    color: #6c757d;
    cursor: pointer;
}
.proile-rating{
    font-size: 12px;
    color: #818182;
    margin-top: 5%;
}
.proile-rating span{
    color: #495057;
    font-size: 15px;
    font-weight: 600;
}
.profile-head .nav-tabs{
    margin-bottom:5%;
}
.profile-head .nav-tabs .nav-link{
    font-weight:600;
    border: none;
}
.profile-head .nav-tabs .nav-link.active{
    border: none;
    border-bottom:2px solid #0062cc;
}
.profile-work{
    padding: 14%;
    margin-top: -15%;
}
.profile-work p{
    font-size: 12px;
    color: #818182;
    font-weight: 600;
    margin-top: 10%;
}
.profile-work a{
    text-decoration: none;
    color: #495057;
    font-weight: 600;
    font-size: 14px;
}
.profile-work ul{
    list-style: none;
}
.profile-tab label{
    font-weight: 600;
}
.profile-tab p{
    font-weight: 600;
    color: #0062cc;
}


.btn-primary:hover {
    color: #fff;
    background-color: #0069d9 !important;
    border-color: #0062cc;
}


.account-settings .user-profile {
    margin: 0 0 1rem 0;
    padding-bottom: 1rem;
    text-align: center;
}
.account-settings .user-profile .user-avatar {
    margin: 0 0 1rem 0;
}
.account-settings .user-profile .user-avatar img {
    width: 90px;
    height: 90px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
}
.account-settings .user-profile h5.user-name {
    margin: 0 0 0.5rem 0;
}
.account-settings .user-profile h6.user-email {
    margin: 0;
    font-size: 0.8rem;
    font-weight: 400;
    color: #9fa8b9;
}
.account-settings .about {
    margin: 2rem 0 0 0;
    text-align: center;
}
.account-settings .about h5 {
    margin: 0 0 15px 0;
    color: #007ae1;
}
.account-settings .about p {
    font-size: 0.825rem;
}
.form-control {
    border: 1px solid #cfd1d8;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-size: .825rem;
    background: #ffffff;
    color: #2e323c;
}

.card {
    background: #ffffff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 0;
    margin-bottom: 1rem;
}
.text-right {
    text-align: right!important;
    margin-top: 30px;
}


.like-dev{
    cursor: pointer;
    margin-top: 17px;
}
.comment{
    margin-bottom: 5px !important;
}
hr{
    /* margin-top: 5px; */
}
.like{
    color: #1877F2;
    cursor: pointer;
    animation-name: like;
    animation-duration: 0.4s;
    animation-timing-function: linear;
}

@keyframes like {

    50% {
        transform: scale(1.17) ;
        -webkit-transform: scale(1.17) ;
        -moz-transform: scale(1.17) ;
        -ms-transform: scale(1.17) ;
        -o-transform: scale(1.17) ;
}
}





.kt-avatar {
    position: relative;
    display: inline-block;
    }
    .kt-avatar .kt-avatar__holder {
      width: 120px;
      height: 120px;
      border-radius: 3px;
      background-repeat: no-repeat;
      background-size: cover; }
    .kt-avatar .kt-avatar__upload {
      cursor: pointer;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      position: absolute;
      right: -10px;
      top: -10px;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: #ffffff;
      -webkit-box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.1);
      box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.1);
      -webkit-transition: all 0.3s;
      transition: all 0.3s; }
      .kt-avatar .kt-avatar__upload input {
        width: 0 !important;
        height: 0 !important;
        overflow: hidden;
        opacity: 0; }
      .kt-avatar .kt-avatar__upload i {
        color: #5d78ff;
        font-size: 0.9rem; }
      .kt-avatar .kt-avatar__upload:hover {
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        background-color: #5d78ff; }
        .kt-avatar .kt-avatar__upload:hover i {
          color: #ffffff; }
    .kt-avatar .kt-avatar__cancel {
      cursor: pointer;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      position: absolute;
      top: auto;
      right: -10px;
      bottom: -5px;
      width: 22px;
      height: 22px;
      border-radius: 50%;
      background-color: #ffffff;
      -webkit-box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.1);
      box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.1);
      display: none; }
      .kt-avatar .kt-avatar__cancel i {
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        color: #74788d;
        font-size: 0.9rem; }
      .kt-avatar .kt-avatar__cancel:hover i {
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        color: #5d78ff; }
    .kt-avatar.kt-avatar--changed .kt-avatar__cancel {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
    .kt-avatar.kt-avatar--brand .kt-avatar__upload i {
      color: #5d78ff; }
    .kt-avatar.kt-avatar--brand .kt-avatar__upload:hover {
      background-color: #5d78ff; }
      .kt-avatar.kt-avatar--brand .kt-avatar__upload:hover i {
        color: #ffffff; }
    .kt-avatar.kt-avatar--light .kt-avatar__upload i {
      color: #ffffff; }
    .kt-avatar.kt-avatar--light .kt-avatar__upload:hover {
      background-color: #ffffff; }
      .kt-avatar.kt-avatar--light .kt-avatar__upload:hover i {
        color: #282a3c; }
    .kt-avatar.kt-avatar--dark .kt-avatar__upload i {
      color: #282a3c; }
    .kt-avatar.kt-avatar--dark .kt-avatar__upload:hover {
      background-color: #282a3c; }
      .kt-avatar.kt-avatar--dark .kt-avatar__upload:hover i {
        color: #ffffff; }
    .kt-avatar.kt-avatar--primary .kt-avatar__upload i {
      color: #5867dd; }
    .kt-avatar.kt-avatar--primary .kt-avatar__upload:hover {
      background-color: #5867dd; }
      .kt-avatar.kt-avatar--primary .kt-avatar__upload:hover i {
        color: #ffffff; }
    .kt-avatar.kt-avatar--success .kt-avatar__upload i {
      color: #0abb87; }
    .kt-avatar.kt-avatar--success .kt-avatar__upload:hover {
      background-color: #0abb87; }
      .kt-avatar.kt-avatar--success .kt-avatar__upload:hover i {
        color: #ffffff; }
    .kt-avatar.kt-avatar--info .kt-avatar__upload i {
      color: #5578eb; }
    .kt-avatar.kt-avatar--info .kt-avatar__upload:hover {
      background-color: #5578eb; }
      .kt-avatar.kt-avatar--info .kt-avatar__upload:hover i {
        color: #ffffff; }
    .kt-avatar.kt-avatar--warning .kt-avatar__upload i {
      color: #ffb822; }
    .kt-avatar.kt-avatar--warning .kt-avatar__upload:hover {
      background-color: #ffb822; }
      .kt-avatar.kt-avatar--warning .kt-avatar__upload:hover i {
        color: #111111; }
    .kt-avatar.kt-avatar--danger .kt-avatar__upload i {
      color: #fd397a; }
    .kt-avatar.kt-avatar--danger .kt-avatar__upload:hover {
      background-color: #fd397a; }
      .kt-avatar.kt-avatar--danger .kt-avatar__upload:hover i {
        color: #ffffff; }
    .kt-avatar.kt-avatar--circle .kt-avatar__holder {
      border-radius: 50%; }
    .kt-avatar.kt-avatar--circle .kt-avatar__upload {
      right: 0px;
      top: 5px; }
    .kt-avatar.kt-avatar--circle .kt-avatar__cancel {
      right: 3px;
      bottom: 10px; }
    .kt-avatar.kt-avatar--outline .kt-avatar__holder {
      border: 3px solid #ffffff;
      -webkit-box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.1);
      box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.1); }


      .img-visitor{
        width: 80px;
        height: 80px;
        border-radius: 3px;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 50%;
        margin: auto;
        }
.img-visitor-logo{
        width: 28px;
        height: 28px;
        border-radius: 3px;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 50%;
}
.img-visitor-logo-cms{
    width: 35px;
    height: 35px;
    border-radius: 3px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
}



#passwordForm {
    align-items:center;
  }


  @media only screen and (max-width: 600px) {
    .card {
      padding: 10px !important;
    }
    h3 {
      font-size: 30px;
    }
  }
